* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
}

#nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    padding: 0 30px;
}

#nav h4 {
    font-size: 20px;
    font-weight: 500;
}

#nav i {
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    color: white;
    background-color: black;
    border-radius: 50%;
}

#center {
    width: 100%;
    padding: 50px 40px 0px;
}

#center h1 {
    font-size: 80px;   
    font-weight: 500;
    line-height: 85px;

}

#center-in {
    height: 200px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

#center-in p {
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
}

#right {
    width: 20%;
}

.elem {
    padding: 20px;
    border-top: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.elem a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}

.elem i {
    font-weight: 600;
    font-size: 20px;
    opacity: 0;

}
.elem:hover i{
opacity: 1;
}

.elem:hover a{
    text-decoration: underline;
}

#bottom{
    width: 100%;
    height: 342px;
    background-image: url("https://images.unsplash.com/photo-1493103002331-710505f5afd2?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: 10% 20%;
    background-size: cover;
    
}

@media (max-width : 600px) {

    /* navbar */
    #nav {
        width: 100%;
        height: 6vh;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 3vw;
        padding: 0 30px;
    }
    
    #nav h4 {
        font-size: 3vw;
        font-weight: 200;
    }
    
    #nav i {
        font-size: 4vw;
        font-weight: 500;
        padding: 10px;
        color: white;
        background-color: black;
        border-radius: 50%;
    }

    /* center */

    #center {
        width: 100%;
        padding: 20px 20px 0px;
    }
    
    #center h1 {
        font-size: 8vw;   
        font-weight: 100;
        line-height: 10vw;
    
    }
    
    #center-in {
        height: 200px;
        width: 100%;
        margin-top: 3vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    #center-in p {
        font-size: 3vw;
        font-weight: 100;
        line-height: 4vw;
    }
    
    #right {
        width: 100%;
    }
    
    .elem {
        padding: 10px ;
        border-top: 1px solid black;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .elem a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-weight: 100;
        font-size: 2.5vw;
    }

    #bottom{
        width: 100%;
        height: 342px;
        background-image: url("https://images.unsplash.com/photo-1493103002331-710505f5afd2?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
        background-position: 50%;
        background-size: cover;
        
    }
    
    
}